
/*==Logo==*/

#logo__nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo__titulo{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--cor-secundaria);
}

/*==Navbar==*/

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#nav__list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav__item a{
    position: relative;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1.1rem;
}

.nav__item a::after{
    position: absolute;
    bottom:0;
    left: 0;
    content: "";
    height: 2px;
    background-color: var(--cor-primaria);
    width: 0;
    transition: width 0.3s ease-in-out;
}

.nav__item a:hover::after{
    width: 100%;
}

#navbar__mobile{
    display: none;
}

#btn-menu{
    display: none;
}

.btn-entrar{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 13px 13px;
    border-radius: 11px;
    cursor: pointer;
}

.btn-entrar a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1rem;
}

.btn-cadastrar{
    background-color: var(--cor-primaria);
    border: none;
    outline: none;
    padding: 13px 16px;
    border-radius: 11px;
    cursor: pointer;
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.1);
}

.btn-cadastrar a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width:1170px){
    #nav__list, #btns-header{
        display: none;
    }

    #btn-menu{
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        cursor: pointer;
    }

    #navbar__mobile.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile-nav__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 16px;
        margin: 30px 0px;
    }

     #mobile-nav__list .nav__item{
        align-items: center;
        text-align: center;
     }

}